<div class="wrapper">

	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" id="about">
		<h2>About Us</h2>
		<hr>
		<br>
		<p>Sanzaru Games is an independent console video game development studio.  Our mission is to continue to put together a talented group of individuals, who share a common vision to develop fun to play, visually stunning and technically spectacular games.  Over the past 9 years, our team has grown substantially and will continue to expand and evolve.  We are in the process of building out a new studio space in Foster City and we can’t wait to show you some glimpses of the finished product!</p>
		<br>

		<p>We foster a culture of creativity while providing just enough infrastructure to stave off chaos.  We look for potential candidates with a love of games, strong work ethic, and great communication skills.  Our team evolves as we find new and inspiring individuals who have a passion for games and a new exciting outlook on the way things can be done.  Sanzaru Games is an Equal Opportunity employer and does not discriminate based upon race, religion, color, national origin, sex, sexual orientation, gender identity, or age.</p>
		<br>

		<h4>Why the name?</h4>
		<p>Sanzaru are the famous 3 wise monkeys – the founding philosophy for Sanzaru Games is that great games are a function of good design, beautiful, clear visuals, and a strong technology base to deliver these.  Should any one these three pillars be missing then the game will suffer.  TL: DR monkeys are just cool.</p>
		<br>

		<p>Founded in 2006, Sanzaru is headquartered in Foster City, California.  For exciting updates on what we’re up to, please follow Sanzaru via Twitter at <a href="http://www.twitter.com/sanzarugames">www.twitter.com/sanzarugames</a> or become a Sanzaru Games fan at <a href="http://www.Facebook.com/SanzaruGames">www.Facebook.com/SanzaruGames</a>.</p>
	<br><br>
	</div>
</div>


