<div class="col-sm-10 col-sm-offset-1">
</div>

<div class="col-sm-8 col-sm-offset-2">
	<h2>About Us</h2>
	<hr>
	<br>
	<h4>Who are we?</h4>
	<p>Sanzaru Games is an independent console video game development studio founded in 2007 by seven very experienced game developers; our mission is to bring together a group of talented individuals to share a common vision to develop fun to play, visually stunning and technically spectacular console games. Over the last 8 years the team has grown substantially and will continue to expand as more talented and experienced developers are drawn to the studio.</p>
	<br>

	<h4>What's in a name?</h4>
	<p>Sanzaru are the famous 3 wise monkeys – the founding philosophy for Sanzaru Games is that great games are a function of good design, beautiful, clear visuals and a strong technology base to deliver these. Should any one of these three pillars be missing then the game will suffer. That and monkeys are just cool.</p>
	<br>
	<h4>What are we working on?</h4>
	<p>Sanzaru Games is a registered Nintendo, Microsoft and Sony console developer. Last year we launched Sonic Boom: Shattered Crystal for the 3DS – a companion to the well-received new cartoon series playing on the Cartoon Network and since then we have been heads down on a couple of new projects that will be announced very soon – so stay tuned!</p>

	<small class="text-center" style="font-style: italic;">Sanzaru Games Inc. is a California corporation.</small>
</div>