<section>

	<div class="game-main wrapper clearfix">
		<img src="/assets/Bentleys-Hackpack.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h3>Bentley's Hackpack</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>Try several addictive and fun mini-games in Bentley’s Hackpack! Featured in Sly Cooper: Thieves in Time™, step into the Arcade and play through multiple levels to bust open all the safes and unlock the most secret and secure item ever!</p>

			<p><strong>Spark Runner</strong> - In this hacking game, guide the spark ball through a circuit board-like maze of obstacles and place it into a socket at the end of the maze to complete each stage.</p>

			<p><strong>Alter Ego</strong> - Launch Bentley’s alter ego the “Bentla-Tron-500” into the system to crack the code and bypass the systems core by blowing it up to complete the hack.</p>

			<p><strong>System Cracker</strong> - Pilot Bentley’s ship within the 'virtual' level of the computer system he is attempting to hack. Break through the security barriers and complete the hack by reaching the Docking Gate.</p>

			<p>Purchase the PS Vita version and receive the PS3 version at no additional cost.</p>
		<br><br>
		</div>
	</div>
	
</section>
