<section>

	<div class="game-main wrapper">
		<img src="/assets/Dark-Manor.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>Dark Manor</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>The bayou. The roaring 1920's. A supernatural secret. Step into Dark Manor, where ghostly hosts will help you find your way! Beautify your manor and explore the spine-chilling hidden object scenes... if you DARE! </p>
		<br><br>
		</div>
	</div>
	
</section>
