<section>
	
	<div class="wrapper clearfix">
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/tron-run-r"><img src="/assets/Tron-Run-r.jpg" alt="Tron Run/r game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/vr-sports-challenge"><img src="/assets/VR-Sports-Challenge.jpg" alt="VR Sports Challenge game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/sonic-fire-ice"><img src="/assets/Sonic-Boom-Fire-Ice.jpg" alt="Sonic Boom Fire and Ice game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/sonic-shattered-crystal"><img src="/assets/Sonic-Boom-Shattered-Crystal.jpg" alt="Sonic Boom Shattered Crystal game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/god-of-war-collection"><img src="/assets/God-of-War-Collection.jpg" alt="God of War Collection game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/bentleys-hackpack"><img src="/assets/Bentleys-Hackpack.jpg" alt="Bentley's Hackpack game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/dark-manor"><img src="/assets/Dark-Manor.jpg" alt="Dark Manor game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/sly-cooper-thieves"><img src="/assets/Sly-Cooper-Thieves-in-Time.jpg" alt="Sly Cooper Thieves in Time game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/sly-collection"><img src="/assets/The-Sly-Collection.jpg" alt="The Sly Collection game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/malgrave-incident"><img src="/assets/MCF-The-Malgrave-Incident.jpg" alt="The Malgrave Incident game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/secret-agent-clank"><img src="/assets/Secret-Agent-Clank.jpg" alt="Secret Agent Clank game image" class="game-index-hero"></a>
		</div>
		<div class="col-sm-6 game-index-thumb">
			<a href="/games/ninja-reflex"><img src="/assets/Ninja-Reflex.jpg" alt="Ninja Reflex game image" class="game-index-hero"></a>
		</div>
	</div>
	 
</section>
