<section>

	<div class="game-main wrapper">
		<!-- <header id="main_nav_black" class="clearfix">
			<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
			<nav class="pull-right">
				<a href="/">Home</a>
		   		<a href="/about">About</a>
				<a href="/games">Games</a>
				<a href="/jobs">Career</a>
			</nav>
		</header> -->
		<img src="/assets/God-of-War-Collection.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>God of War Collection</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>A must-have for action/adventure fans on the PlayStation 3 platform, the <em>God of War Collection</em> features both PlayStation 2 single player classics, <em>God of War</em> and <em>God of War II</em>. Remastered in high definition and re-released for play on the PS3 this collection allows both longtime fans of the series and those coming to it new to indulge in the addictive action and puzzle-solving fun of taking on the gods ruling the world of ancient Greek mythology.</p>
		<br><br>
		</div>
	</div>
	
</section>
