
<div class="wrapper clearfix">
	<hr>

	<h2 class="text-center">New Releases</h2>
	<h3 class="text-center" id="main-title1">Tron Run/R on PS4, Xbox One and Steam</h3>
	<div class="tron">
		<img src="/assets/FrontPageGame2WIP.jpg" alt="" id="main-tron">
		<div class="tron-info">
			<a class="btn" href="#" role="button">Learn More</a>
		</div>
	</div>

		<h3 class="text-center" id="main-title2">VR Sports Challenge for Oculus Rift</h3><br>
	<div class="vrsports">
		<img src="/assets/FrontPageGame1WIP.jpg" alt="" id="main-vrsport">
		<div class="vrsports-info">
			<a class="btn" href="#" role="button">Learn More</a>
		</div>
	</div>

</div>