
	<div class="home">
		<div class="tron">
			<img src="/assets/FrontPageGame2WIP.jpg" alt="" class="main-tron">
			<div class="tron-info">
				<a class="btn" id="learn-more" href="/games/tron-run-r" role="button">Learn More</a>
			</div>
		</div>

		<div class="vrsports">
			<img src="/assets/FrontPageGame1WIP.jpg" alt="" id="main-vrsport">
			<div class="vrsports-info">
				<a class="btn" id="learn-more" href="/games/vr-sports-challenge" role="button">Learn More</a>
			</div>
		</div>

		<div class="sonicfire">
			<img src="/assets/Sonic-Boom-Fire-Ice.jpg" alt="" id="main-sonic-fire">
			<div class="sonicfire-info">
				<a class="btn" id="learn-more" href="/games/sonic-fire-ice" role="button">Learn More</a>
			</div>
		</div>

	</div>
