
<div class="wrapper clearfix">
	<img id="main_page_image" src="http://cdn.akamai.steamstatic.com/steam/apps/392000/ss_1d467a56c1d9bbb90145a47401a16a8301e41d76.600x338.jpg?t=1455122637" alt="">
	<h2 class="main_page_header">Tron Run / R on PS4</h2>
</div>