<section>

	<div class="game-main wrapper">
		<header id="main_nav_white" class="clearfix">
			<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
			<nav class="pull-right">
				<a href="/">Home</a>
		   		<a href="/about">About</a>
				<a href="/games">Games</a>
				<a href="/jobs">Career</a>
			</nav>
		</header>
		<img src="/assets/MCF-The-Malgrave-Incident.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>Mystery Case Files: <br>The Malgrave Incident </h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>You be the detective! Something is afoot at the abandoned resort on Malgrave Island and it is up to you to be the detective and solve the mystery. Point the Wii Remote and with the push of a button, explore the island’s lush environments and test your wits against the puzzles and obstacles blocking your path in your search for cleverly hidden objects. Navigate the twists and turns of a gripping mystery…</p> 

			<p>Malgrave Island has been closed to visitors for years, but Winston Malgrave, the mysterious curator, has requested your help collecting its trademark cure-all dust—the key to the survival of his beloved Sara, who is gravely ill. Finding hidden objects to uncover more dust is vital to your progress, but the more you uncover the more you unravel the long-buried mysteries of the island. Hunt cooperatively with friends and family or challenge them in three exciting multiplayer modes. Need help finding hidden items? Other players can join your adventure at any time to help you find the items on your list. When you’re ready for more challenge, take your friends on in three fun multiplayer modes that will test your eyes and reflexes as you try to earn the title of Master Detective. </p>
		<br><br>
		</div>
	</div>
	
</section>
