<section>

	<div class="game-main wrapper ">
		<header id="main_nav_black" class="clearfix">
			<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
			<nav class="pull-right">
				<a href="/">Home</a>
		   		<a href="/about">About</a>
				<a href="/games">Games</a>
				<a href="/jobs">Career</a>
			</nav>
		</header>
		<img src="/assets/Ninja-Reflex.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>Ninja Reflex</h3>
		</div>
		<div class="col-sm-6 col-xs-12 ">
			<p>Do you have what it takes to be a ninja? Enter the dojo to find out. Test your reflexes with Ninja Reflex by competing against your sensei or with other players in a series of martial arts challenges. Strive to earn a black belt using skills you develop in the game. Master 11 belt ranks to get a 3rd degree black belt. </p>
		<br><br>
		</div>
	</div>
	
</section>
