<section>

	<div class="game-main wrapper clearfix">
		<img src="/assets/The-Sly-Collection.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h3>The Sly Collection</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p><em>The Sly Collection</em> features three PlayStation 2 action-packed classic hits; <em>Sly Cooper and the Thievius Raccoonus, Sly 2: Band of Thieves</em> and <em>Sly 3: Honor Among Thieves</em>, fully remastered in high-definition. <em>The Sly Collection</em> sees the mischievous raccoon and his gang of eccentric friends pull off daring heists in this entertaining platformer adventure. Packed full with mini-games, featuring PlayStation Move support via the PlayStation Move motion controller and PlayStation Eye camera, and thrilling standard controller mission play from across the globe, <em>The Sly Collection</em> masterfully blends stealth, thievery, combat, strategy and exploration into one huge world.</p>
		<br><br>
		</div>
	</div>
	
</section>
