<section>

	<div class="game-main wrapper">
		<!-- <header id="main_nav_white" class="clearfix">
			<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
			<nav class="pull-right">
				<a href="/">Home</a>
		   		<a href="/about">About</a>
				<a href="/games">Games</a>
				<a href="/jobs">Career</a>
			</nav> -->
		</header>
		<img src="/assets/Sly-Cooper-Thieves-in-Time.jpg" alt="Sly Cooper Thieves in Time game image" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>Sly Cooper: Thieves in Time</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>Sly and the Gang are back in an epic new adventure!</p> 
 
			<p>The critically-acclaimed Sly Cooper series returns with a brand-new, epic adventure for the PlayStation 3 system. Sly Cooper: Thieves in Time picks up where the 2005 PlayStation 2 release, Sly 3: Honor Among Thieves, left off. The Cooper Gang has split up, with Sly surprisingly giving up thievery for a more domestic life, and Bently being entrusted with the Thievius Raccoonus - the book that holds the history and skills of the gang. Unfortunately Bently also built a time machine, which seems to be causing the pages of the Thievius Raccoonus to disappear. As a result Sly's old pal Bentley, must round up the gang and set things right or the Cooper Clan legacy may disappear forever. </p>
		<br><br>
		</div>
	</div>
	
</section>
