<section>

	<div class="game-main wrapper">
		<header id="main_nav_white" class="clearfix">
			<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
			<nav class="pull-right">
				<a href="/">Home</a>
		   		<a href="/about">About</a>
				<a href="/games">Games</a>
				<a href="/jobs">Career</a>
			</nav>
		</header>
		<img src="/assets/Sonic-Boom-Shattered-Crystal.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>Sonic Boom: Shattered Crystal</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>Sonic Boom: Shattered Crystal is a standalone adventure that shares key characters, events and lore of the Sonic Boom universe with exclusive environments and characters, as well as an emphasis on platforming and puzzles. In addition to Sonic, Tails and Knuckles, gamers will also be able to take on the role of Sticks, the newest member of the team. She will play an integral role in the story after her best friend Amy gets kidnapped by the ancient villain Lyric.</p>
		<br><br>
		</div>
	</div>
	
</section>
