<section>

	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<hr>

		<a href="/games"><small>Back to All Games</small></a>
		<br><br>
		<img src="/assets/FrontPageGame2WIP.jpg" alt="" class="main-tron">

		<div class="col-sm-6">
			<h4>Tron Run/R on PS4, Xbox One and Steam</h4>
		</div>
		<div class="col-sm-6">
			<p>Sanzaru Games is an independent console video game development studio.  Our mission is to continue to put together a talented group of individuals, who share a common vision to develop fun to play, visually stunning and technically spectacular games.  Over the past 9 years, our team has grown substantially and will continue to expand and evolve.  We are in the process of building out a new studio in Foster City and we can’t wait to show you some glimpses of the finished product!</p>
		<br><br>
		</div>
	</div>
</section>
