<section>

	<div class="game-main wrapper clearfix">
		<img src="/assets/Tron-Run-r.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h3>Tron Run/r</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>Return to the world of TRON with TRON RUN/r, a new lightning fast, action-adventure runner with a twist! Blaze through dynamic circuits, facing-off against virulent adversaries while taking on all challengers. Pack your loadouts with dozens of combinations of cycles, suits and powerups. Hone your DISC and CYCLE skills on the 32 included levels, then challenge your friends to the grueling STREAM program that throws endless combinations of modes and levels at you until you crash - how long can you survive? The one who outlasts all tops the leaderboard! New music from EDM godfather Giorgio Moroder and Raney Shockne, and remixes by Autechre, Bibio, patten, Joywave and others power you through this dazzling TRON universe. Just when you think you’ve mastered it all, you’ll discover there’s more here than meets the eye.</p>
		<br><br>
		</div>
	</div>
	
</section>
