<section>

	<div class="game-main wrapper">
		<header id="main_nav_white" class="clearfix">
			<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
			<nav class="pull-right">
				<a href="/">Home</a>
		   		<a href="/about">About</a>
				<a href="/games">Games</a>
				<a href="/jobs">Career</a>
			</nav>
		</header>

		<img src="/assets/VR-Sports-Challenge.jpg" alt="" class="main-tron">
	</div>

	<div class="col-sm-8 col-sm-offset-2 col-xs-12 description">
		<div class="col-sm-6">
			<h3>VR Sports Challenge</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p>Lace up your cleats, sharpen your skates, and grab a helmet as you step out of the tunnel and onto to the field, hardwood, and ice in “VR Sports Challenge." Experience your favorite sports like never before: call the plays and lead your team to victory as an all-pro quarterback, drain threes from around the horn as a hot handed shooter, knock the ball out of the park as long ball slugger, and lock down victory on the ice as an impenetrable goalie. “VR Sports Challenge" puts you into the heart of the action exclusively on the Oculus Rift.</p>
		<br><br>
		</div>
	</div>
	
</section>
