/* line 8, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
form {
  margin-top: 70px;
}

/* line 12, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
label {
  color: gray;
}

/* line 16, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
.form-control {
  border-radius: 0px !important;
}

/* line 20, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
input, textarea {
  color: black;
  font-size: 16px;
  border: 1px solid #ace200 !important;
  box-shadow: none !important;
}

/* line 27, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
input::-webkit-input-placeholder {
  color: black !important;
}

/* line 31, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
input-moz-placeholder {
  color: black !important;
}

/* line 34, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: black !important;
}

/* line 37, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
input:-ms-input-placeholder {
  color: black !important;
}

/* line 41, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
textarea::-webkit-input-placeholder {
  color: black !important;
}

/* line 45, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
textarea::-moz-placeholder {
  color: black !important;
}

/* line 48, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
textarea:-moz-placeholder {
  /* Older versions of Firefox */
  color: black !important;
}

/* line 51, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
textarea:-ms-textarea-placeholder {
  color: black !important;
}

/* line 55, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
input[placeholder], textarea[placeholder] {
  font-weight: bold;
  color: black !important;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 61, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/forms.scss */
button, .btn {
  color: #ace200;
  background-color: black;
  border: none !important;
  border-radius: 0px !important;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 8, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
* {
  font-family: 'Cabin', sans-serif;
  box-sizing: border-box;
}

/* line 13, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 18, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
body {
  height: 100%;
}

/* line 22, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
h1 {
  font-weight: 700;
}

/* line 26, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
h2 {
  font-weight: 700;
}

/* line 30, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
.grid {
  display: table;
  width: 100%;
  border-spacing: .5em;
  margin-bottom: 50px;
}
/* line 35, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
.grid .col {
  padding: 1em;
  width: 25%;
  display: table-cell;
}

/* line 43, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
header #logo {
  width: 80px;
  padding-left: 10%;
}
/* line 47, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
header nav {
  padding: 1.5em 3%;
  float: right;
}
/* line 50, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
header nav a {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  margin: 2rem;
  text-transform: uppercase;
}

/* line 64, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
footer {
  background-color: #393939;
  height: 10vh;
  position: fixed !important;
  bottom: 0;
}
/* line 69, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
footer p, footer a {
  color: white;
}
/* line 79, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
footer a:hover {
  text-decoration: none;
  color: #ace200;
}
/* line 83, /Users/jeehyekim/projects/sanzaru/app/assets/stylesheets/styles.scss */
footer #social a {
  color: white;
  text-transform: none;
  font-size: 20px;
  margin: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

