<div class="wrapper">
	<header id="main_nav_black" class="clearfix">
		<a href="/" class="navbar-brand"><img id="logo" src="http://i.imgur.com/2IxxxkL.png" alt=""></a><br>
		<nav class="pull-right">
			<a href="/">Home</a>
	    	<a href="/about">About</a>
			<a href="/games">Games</a>
			<a href="/jobs">Career</a>
		</nav>
	</header>

	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" id="about">
		<h2>Careers</h2>
		<hr>
		<br>
		<div class="careers-info text-center">
			<h2 id="slogan">We think it takes great people to make great games</h2>
			<a class="btn" id="open-positions-btn" href="#open-positions" role="button">See Open Positions</a>
		</div>
		<div class="benfits text-center">
			<h3 class="perks">Perks &amp; Benefits</h3>
			<hr class="green">
			<p>We offer extremely competitive Health / Dental / Vision benefits (and we cover 100% of your monthly cost!). We also offer a 401k plan, Life Insurance, SDI, &amp; LDI, paid Holildays, FSA &amp; Dependent Care FSA options, commuter benefits, and a monthly fitness stipend.</p>
			<div class="benefits-top text-center">
				<div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
					<h4>Work / Life Balance</h4>
					<hr class="green">
					<small>We offer a flexible work schedule, along with paid vacation and sick days. We are family-oriented and offer great maternity &amp; paternity leave benefits as well.</small>
				</div>
				<div class="col-md-4 col-md-offset-0 col-sm-6 col-xs-12">
					<h4>Food</h4>
					<hr class="green">
					<small>Can't focus when you're hungry? We know how taht goes, and we've got you coverd, with free Friday Lunches and a wide array of free snacks and vbeverages.</small>
				</div>
			</div>
			<div class="benefits-bottom text-center">
				<div class="col-sm-4 col-xs-12">
					<h4>Company Sway</h4>
					<hr class="green">
					<small>Sanzaru employees have access to exclusive swag and branded products.</small>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h4>Fun</h4>
					<hr class="green">
					<small>We like to have fun and we hope you do too. We host various events and parties throughout the year.</small>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h4>Ruff-Friendly</h4>
					<hr class="green">
					<small>Every day is bring-your-dog-to-work-day.</small>
				</div>
			</div>
		</div>
		<div id="open-positions">
			
		</div>
	</div>
</div>


