<div class="col-sm-10 col-sm-offset-1" id="user-header">
	<div class="text-center" id="user-header">
	  <h4 class="text-center" style="margin-top:40px">WELCOME</h4>
	  <h6>Today is: <%= Time.now.strftime("%a, %B %d, %Y") %></h6>
	  <small><%= link_to "Edit Profile", edit_user_path(@user), id:"edit-profile-btn" %></small>
	  <br>
	  <% if current_user %>
		<%= link_to "Logout", logout_path, method: :delete, id:"logout-btn" %>
	  <% end %>
	</div>
	<br><br>
	<div class="col-sm-6 col-xs-12">
		<h4 class="text-center">Open Positions</h4>
		<hr>

	</div>
	<div class="col-sm-6 col-xs-12">
		<h4 class="text-center">Closed Positions</h4>
		<hr>
	</div>
</div>