// font-family: 'Raleway', sans-serif;


$green: #ace200;
$dark: #393939;


* {
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	height: 100%;
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 700;
}

.grid{
  display: table;
  width: 100%;
  border-spacing:.5em;
  margin-bottom: 50px;
  .col{
    padding:1em;
    width:25%;
    display:table-cell;
  }
 }

header {
	#logo {
		width: 80px;
		padding-left: 10%;
	}
	nav {
		padding: 1.5em 3%;
		float: right;
		a {
			color: black;
			font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 18px;
			text-decoration: none;
			margin: 2rem;
			text-transform: uppercase;

		}
	}
}


footer {
	background-color: $dark;
	height: 10vh;
	position: fixed !important;
	bottom: 0;
	p, a {
		color: white;
	}
	// p {
	// 	position: absolute;
	// 	top: 50%;
	// }
	// p#copyright {
	// 	left: 50%;
	// }
	a:hover {
		text-decoration: none;
		color: $green;
	}
	#social a {
		color: white;
		text-transform: none;
		font-size: 20px;
		margin: 10px;
	}
}


// FORM 

form {
	  margin-top: 70px;
}

.form-control {
  border-radius: 0px !important;
}

input, textarea {
  color:black;
  font-size: 16px;
  border: 1px solid $green !important;
  box-shadow: none !important;
} 

input::-webkit-input-placeholder {
  color: black !important;
}

input-moz-placeholder {
  color: black !important;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: black !important;
}
input:-ms-input-placeholder { 
  color: black !important;
}

textarea::-webkit-input-placeholder {
  color: black !important;
}

textarea::-moz-placeholder {
  color: black !important;
}
textarea:-moz-placeholder {   /* Older versions of Firefox */
  color: black !important;
}
textarea:-ms-textarea-placeholder { 
  color: black !important;
}

input[placeholder], textarea[placeholder] {
   font-weight: bold; 
   color:black !important;
   font-family: 'Josefin Sans', sans-serif;
}

button, .btn {
  color: $green;
  background-color: black;
  border: none !important;
  border-radius: 0px !important;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


