// font-family: 'Raleway', sans-serif;


$green: #ace200;
$dark: #393939;


* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}



body {
	height: 100%;
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 700;
	margin-top: 60px;
}

h3, h4 {
	font-weight: 700;
}

p {
	font-size: 16px;
}

li {
	list-style-type: none;
	display: inline-block;
	padding: 1em;
}

hr.green {
	width: 80px;
	border: 2px solid $green;
}

.grid{
  display: table;
  width: 100%;
  border-spacing:.5em;
  .col{
    padding:1em;
    width:33%;
    display:table-cell;
  }
 }

 // HEADER 

header {
	height: auto;
}

#main_navigation {
	width: 100%;
	.top-banner {
		width: 100%;
	}
	#logo {
		width: 80px;
		padding-left: 10%;
	}
	.banner {
		position: relative;
		nav {
			position: absolute;
			font-family: 'Raleway', sans-serif;
			padding: 1em 4% 1em 3%;
			bottom: -5%;
			right: 0;
			margin: 3% 1% 0 0;
			a {
				bottom: 0;
				color: white;
				font-family: 'Raleway', sans-serif;
				font-weight: 600;
				font-size: 18px;
				text-decoration: none;
				padding: .4rem;
				margin: .3rem;
				text-transform: uppercase;
				background-color: black;
				float: right;
			}
			a:hover {
				color: $green;
				background-color: black;
				text-decoration: none;
			}
		}
	}
}

.icon-bar {
	background-color: black;
}



// MAIN
#main-vrsport, #main-tron, #main-sonic-fire {
	margin-top: 5px;
}

.home-tron {
	margin-top: 5px;
	width: 100%;
}

.main-tron, #main-vrsport, #main-sonic-fire {
	width: 100%;
}

#main-title1, #main-title2 {
	margin: 2em;
}

.space {
	height: 10vh;
}


.tron, .vrsports, .sonicfire {
	position: relative;
	.tron-info, .vrsports-info, .sonicfire-info {
		position:absolute;
		top: 50%;
		transform: translate(0,-50%);
		left: 50%;
		transform: translate(-50%, 0);
	}
}

#games {
	position: relative;
	margin-top: 5px;
}

.description {
	margin-top: 50px;
	margin-bottom: 15vh;
}


// BUTTONS

#learn-more {

  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  letter-spacing: 2px;
  padding:10px 20px !important;
  border-radius: 22px !important;
  border: 3px solid white !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  background-color: transparent !important;
}

#learn-more:hover {
  border-radius: 22px;
  border: 3px solid $green !important;
  color:$green !important;
  font-weight: 700;
  font-size: 20px;
  padding:5px 10px;
  background-color: black !important;
}

.btn:focus,.btn:active {
   outline: none !important;
}

#open-positions-btn {
	color: $green;
	border: 3px solid $green;
	background-color: black;
	padding: 5px 10px;
	font-weight: 700;
	font-size: 20px;
	border-radius: 22px;
	margin: 20px 0px 100px 0;
}

#sign-up-btn {
	color: $green;
	background-color: black;
	border: 3px solid $green;
}



// JOBS
#slogan {
	margin:50px;
}

#about {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.home, .jobs-index, #open-positions {
	margin-bottom: 10vh;
}

.benefits-top {
	margin-top: 50px;
}

.benefits-bottom {
	margin-top: 50px;
	margin-bottom: 50px;
}

.benefits-small:hover {
	background-color: white !important;
	color: black;
}

#open-positions {
	margin-top: 50px;
	margin-bottom: 150px;
}

#open-positions h4 {
	margin-bottom: 20px;
}

.bottom-banner {
	width: 100%;
}

.user-only {
	margin-top: 20px;
}

.job-title a {
	color: $dark;
	padding: .3em;
	text-decoration: none;
	border-bottom: 3px solid white;
}

.job-title a:hover {
	color: $dark;
	border-bottom-color: $green ;
}

.job-details {
	margin-top: 50px;
	margin-bottom: 150px;
}

.job-description {
	line-height: 1.75;
	padding: 8px;
}

.job-show-page {
	margin-top: 50px;
	margin-bottom: 50px;
}


small.job-number {
	color: $dark;
	display: inline-block;
}

small.job-number:hover {
	background-color: white;
	color: $dark;
	font-weight: 300;
}

small.created-on:hover {
	color: $dark;
	background-color: transparent;
	font-weight: normal;
}

#edit-profile-btn, #logout-btn, #edit-post-btn, #new-post-btn, #profile-link {
	color: black !important;
	background-color: transparent !important;
	font-weight: 700 !important;
}

#edit-profile-btn:hover {
	color: black !important;
}

#edit-job-btn, #login-btn {
	background-color: black;
	color: $green;
	font-weight: bold;
}

.menu {
	margin: 20px 0 40px 0;
}


#new-post-btn, #edit-post-btn, #edit-profile-btn, #profile-link, #logout-btn {
	padding: 1em;
	text-decoration: none;
	border-bottom: 3px solid white;
}

#new-post-btn:hover, #edit-post-btn:hover, #edit-profile-btn:hover, #profile-link:hover, #logout-btn:hover {
	border-bottom-color: $green;
}

// FOOTER 

footer {
	// height: 15vh;
	text-align: center;
	background-color: $dark;
	font-family: 'Raleway', sans-serif;
	height: 10vh;
	position: absolute !important;
	bottom: 0;
	p, a , #terms-link{
		color: lightgray;
	}
	a:hover {
		text-decoration: none;
		color: $green;
	}
	#social a {
		color: lightgray;
		text-transform: none;
		font-size: 20px;
		padding: 0px 5px 5px 5px;
	}
	#copyright, #terms-link {
		font-size: 12px;
		margin-bottom: 0;
		margin-top: 15px;
	}
}

#terms-details {
	margin-top: 40px;
	margin-bottom: 15vh;
	h4 {
		margin-top: 40px;
		text-decoration: underline;
	}
}



