$green: #ace200;
$dark: #393939;



#edit-profile-btn, #back-to-profile-btn {
	color: black;
	font-weight: 600;
}

#edit-profile-btn:hover, #back-to-profile-btn:hover {
	color: $green;
	background-color: black;
	font-weight: 600;
	text-decoration: none;
}

